




<meta name="wrapper" content="width=device-width, initial-scale=1.0">
<div class="wrapper">
    <div id="profile">
       <h1>{{title}}</h1>
       <p>{{role}}</p>
    </div>
    <div id="content">
        <p>My goal is to add value to the organisation while i develo my skills yet further. I believe
            that with my academic experience, the capabilities of quality learning and problem<br>
        solving i will reach my goals. </p>

        <h2>Eucation</h2>
        <hr color="lightgrey">

        <h4>2008-01     National Senior Certificate (Grade 12), Marholeni High School<br>2008-12
        </h4>
        <dl>
            <dt><h4>Subjects Passed:</h4></dt>
            <dd>Xitsonga</dd>
            <dd>English</dd>
            <dd>Matematics</dd>
            <dd>Physical Science</dd>
            <dd>Life Science</dd>
            <dd>Life Orientation</dd>
            <dd>Geography</dd>
        </dl>

        <h4>2010-01   ICDL Certificate, Central Johannesburg College<br>2010-06
        </h4>
        <dl>
            <dt><h4>Modules:</h4></dt>
            <dd>Word Processing</dd>
            <dd>Internet and E-mail</dd>
            <dd>Presentations</dd>
            <dd>Spreadsheets</dd>
            <dd>Database</dd>
            <dd>File Management</dd>
            <dd>Basic Concepts Of IT</dd>
        </dl>

        <h4>2012-01   N Diploma Information Technology (TUT)<br>2016-12
        </h4>
            
           <p>Institution:   Tshwane University Of Technology (Student no. 210364943)</p>
           
        <h2>Reference: </h2>
        <p>Tshwane University Of Technology: 0123829000
        <br>Central Johannesburg College: 0112160300</p>
        
        
        
    </div>
    <div id="sidebar">
        <h2>Personal Info</h2>
        <h4>Postal Address</h4>
        <p>21 Moepel Street<br>MayberryPark(Alberton)<br>1448</p>

        <h4>Address</h4>
        <p>21 Moepel Street<br>MayberryPark(Alberton)<br>1448</p>
        
        <h4>Other information</h4>
        <p>Date Of Birth: 1989/02/12<br>ID: 890212 6256 089<br>Gender: Male<br>
        Health: Good<br>Criminal Record: None</p>

        <h4>Contacts Details</h4 >
        <p>Cell: 071 1220 982<br>Email: hlayisekacm@gmail.com<br>Other: 081 4581 236</p>
        <a class="btn" routerLink="/contact">Contact me</a>
        <router-outlet></router-outlet>
        <h4>Languages</h4>
        <p>Xitsonga<br>English<br>Venda<br>Zulu<br>Pedi</p>

        <h4>Skills</h4>
        <p>Communication Skills<br>Strategic Planning <br>Reliable And Organized</p>
    </div>
</div>



